.header-main{
    font-size: 200%;
    font-weight: bold;
    
}


.uptime-text{
    font-size: 120%;
    
}

.os-text{
    font-size: 120%;
    
}

.cpu-header , .mem-header , .hdd-header , .net-header{
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 1%;

}

#hlele-bar-cpu , #hlele-bar-mem , #hlele-bar-hdd {
    width: 100%;
}

.cpu-model , .mem-val , .hdd-val , .net-rx , .net-tx{
    font-size: 120%;
    
}
.hlele-color-primary{
    color:#B71C1C;
}

.hlele-color-primary-light{
    color:#FF1744;
}
